<footer th:fragment="footer" class="text-center" style="background-color: #c1c7cd">
    <div class="container p-4">

        <section class="">
            <div class="row">

                <div class="col">
                    <h5 class="text-uppercase">О книгах</h5>
                    <ul class="list-unstyled mb-0">
                        <li><a href="/about" class="text-dark">Бронирование</a></li>
                        <li><a href="/about" class="text-dark">О нас</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="text-uppercase">О библиотеке</h5>

                    <ul class="list-unstyled mb-0">
                        <li><a href="/about" class="text-dark">О книгах</a></li>
                        <li><a href="/about" class="text-dark">Новости</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="text-uppercase">Информация</h5>

                    <ul class="list-unstyled mb-0">
                        <li><a href="/about" class="text-dark">Контакты</a></li>
                        <li><a href="/about" class="text-dark">Обратная связь</a></li>
                    </ul>
                </div>

            </div>
        </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © BookLand
    </div>

</footer>